<div class="users-container">

    <div *ngFor="let user of users" class="user">
        <input type="email" [value]="user.email">
        <input type="password" value="sfalsfal">
        <select class="role-select" name="select" id="">
            <option value="user" selected>user</option>
            <option value="admin">admin</option>
        </select>
        <div class="user-btn-container">
            <button><img src="../assets/exit_user-btn.svg" alt=""></button>
            <button><img src="../assets/change_user-btn.svg" alt=""></button>
        </div>
    </div>


</div>