<div class="text-container">
    <div class="up-side-main">
        <div class="left-side">
            <div class="text-part-main">
                <div class="title-container">
                    <h3>{{meetup.name}} </h3>
                    <p class="subscribers">{{meetup.users.length}} subscribers</p>
                </div>
                <p class="text">{{meetup.description}}
                </p>
            </div>
            <div [@bodyExpansion]="state" class="expandable-content">
                <div class="text-part-usual">
                    <h4>Целевая аудитория</h4>
                    <p class="text">{{meetup.target_audience}}</p>
                </div>

                <div class="text-part-usual">
                    <h4 class="text">Что надо знать?</h4>
                    <p>{{meetup.need_to_know}}</p>
                </div>
                <div class="text-part-usual">
                    <h4>Что будет?</h4>
                    <p class="text">{{meetup.will_happen}}</p>
                </div>
                <div class="text-part-usual">
                    <h4>Почему надо обязательно прийти?</h4>
                    <p class="text">{{meetup.reason_to_come}}</p>
                </div>


            </div>
        </div>
        <div class="right-side">
            <div class="upper-container">
                <p class="date">{{ meetup.time | date: 'dd.MM.yy HH:mm' }}</p>
                <p class="room">{{ meetup.location }}</p>
            </div>
        </div>
    </div>
    <div class="down-side-main">
        <div class="down-side">
            <div class="author-field">
                <img src="../assets/person-btn.svg" alt="">
                <p class="author-name">{{meetup.owner.fio}}</p>
            </div>
            <div class=" btn-text-container">
                <button (click)="onEditMeetup(meetup)" class="btn btn-blue normal-btn" [routerLink]="'edit/'+ meetup.id"
                    *ngIf="isAdmin(); else visit">Редактировать</button>
                <ng-template #visit>
                    <button (click)="toggleSubsAndRemoveFromMyMeetups(meetup.id, meetup)" class="button"
                        [ngClass]="{'btn-grey normal-btn': isSub, 'btn-blue normal-btn': !isSub }">{{
                        isSub? "Не могу пойти" :
                        "Я пойду"}}</button>
                </ng-template>
                <button class="btn btn-orange small-btn" (click)="toggle()"><img
                        [src]="state==='collapsed'? '../assets/arrow-down.svg':'../assets/arrow-up.svg'"
                        alt='up_or_down'></button>
            </div>
        </div>
    </div>
</div>