.expandable-content {
  overflow: hidden;
}

.date {
  margin-bottom: 0;
}

.room {
  margin-top: 5px;
}

p {
  margin: 0;
  color: var(--accent-color, #b85526);
  /* middle */
  font-size: 18px;
  font-family: Open Sans;
}

.btn-grey {
  border-radius: 5px;
  background: var(--primary-color, #b4b4c0);

  /* BoxShadow */

  color: var(--secondary-color, #4c3f78);

  /* middle */
  font-size: 18px;
  font-family: Open Sans;
  width: 160px;
  height: 50px;
  margin-right: 10px;
}

button {
  cursor: pointer;
}

.button {
  background-color: #ccc;

  transition: background-color 0.3s ease, color 0.3s ease;
}

.button.btn-grey {
  background: var(--primary-color, #b4b4c0);
}

.button.btn-blue {
  background: var(--secondary-color, #4c3f78);
}

.check-time {
  margin: 0;
  color: var(--accent-color, #b85526);
  /* middle */
  font-size: 18px;
  font-family: Open Sans;
}

.opacity {
  opacity: 0.5;
}

.author-name {
  margin-top: auto;

  margin-left: 5px;
}

.author-img {
  margin-top: auto;
}
